.homepage{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}
.homepage_title{
    color: white;
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
}
.homepage_profilpic{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url("./img/profilpic.jpg");
}
.homepage_navlink{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.homepage_navlink, a{
    text-decoration: none;
    color: white;
}
.homepage_navlink, li{
    margin: 1rem 0;
}